.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        justify-content: center;
    }
}